name: Generate file and publish to Pages

on:
    push:
        branches: [master]
    workflow_dispatch:

permissions:
    pages: write
    id-token: write

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Get dependencies
              run: |
                  pip install textx
                  sudo apt-get update && sudo apt-get install -y graphviz

            - name: Generate diagram
              run: |
                  mkdir -p public
                  textx generate gmlang/grammar/grammar.tx --target dot -o ./public
                  dot -Tpng -O ./public/grammar.png

            - name: Upload artifact for Pages
              uses: actions/upload-pages-artifact@v3
              with:
                  path: public

    deploy:
        needs: build
        runs-on: ubuntu-latest

        steps:
            - name: Deploy to GitHub Pages
              uses: actions/deploy-pages@v4
